.version.index /* version checker */
{
	color: #000006;
	background-color: #1AAC80;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 68px;
	padding-bottom: 14px;
	width: 0.01px;/* should not cover content below */
}

#u94
{
	z-index: 2;
	width: 359px;
	background-color: transparent;
	margin-left: 332px;
	position: relative;
}

#u141-16
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-left: 40px;
	margin-top: 29px;
	position: relative;
}

#u104
{
	z-index: 4;
	min-height: 330px;
	background-color: #000000;
	padding-bottom: 98px;
}

#u110
{
	z-index: 5;
	width: 257px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 124px;
}

#u120-9
{
	z-index: 7;
	width: 644px;
	min-height: 299px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 409px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u104-bw
{
	z-index: 4;
	min-height: 330px;
	margin-top: 42px;
}

#u123
{
	z-index: 16;
	min-height: 418px;
	background-color: #B93B46;
	padding-bottom: 10px;
}

#u126-11
{
	z-index: 17;
	width: 984px;
	min-height: 418px;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u123-bw
{
	z-index: 16;
	min-height: 418px;
}

#u132
{
	z-index: 28;
	min-height: 419px;
	background-color: #006837;
	padding-bottom: 9px;
}

#u132_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
	left: -100px;
	margin-bottom: -1px;
}

#u135-8
{
	z-index: 29;
	width: 984px;
	min-height: 418px;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 122px;
}

#u132-bw
{
	z-index: 28;
	min-height: 419px;
	margin-top: -1px;
}

#u148
{
	z-index: 53;
	min-height: 408px;
	background-color: #0071BC;
	padding-bottom: 20px;
}

#u104_align_to_page,#u123_align_to_page,#u148_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1024px;
	left: -100px;
}

#u154-12
{
	z-index: 54;
	width: 979px;
	min-height: 403px;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 120px;
}

#u126-2,#u126-3,#u126-4,#u135-2,#u135-3,#u135-4,#u154-2,#u154-3
{
	font-size: 36px;
	line-height: 43px;
}

#u154-5
{
	text-decoration: underline;
}

#u126-6,#u126-7,#u126-9,#u135-6,#u154-7,#u154-8,#u154-10
{
	font-size: 19px;
	line-height: 23px;
}

#u148-bw
{
	z-index: 53;
	min-height: 408px;
}

#u157-4
{
	z-index: 66;
	width: 268px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 375px;
	margin-top: 17px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1024px;
}

